    @import "partials/variables";
    @import "partials/mixins";
    body {
        @include page-bg-color;
        @include page-font-color;
        font-size: 62.5%;
        margin: 0;
        line-height: normal;
        overflow: hidden;
        width: 100vw;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include headline-bg-color;
        @include headline-font-color;
        @include white-font-outline;
        @include headline-padding;
        font-weight: $bold;
    }
    
    header {
        @include headline-bg-color;
        @include headline-font-color;
        grid-area: header;
        min-height: 150px;
        width: 95%;
        margin: 10px auto 0 auto;
    }
    
    nav {
        width: 100%;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
    }
    
    .page-container {
        @include page-grid;
    }
    /*========= HEADER ==========
=============================
===========================*/
    
    .top-nav-container {
        display: block;
    }
    
    .top-title-container {
        display: flex;
        @media screen and (max-width: 470px) {
            display: block;
            text-align: center;
            margin-bottom: 0;
        }
    }
    
    .top-title {
        font-size: clamp(2.6em, 3.5vw, 5em);
        @media screen and (max-width: 470px) {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        @media screen and (max-width: 360px) {
            font-size: 2.3em;
        }
    }
    
    .top-logo-container {
        display: flex;
        flex-grow: 1;
        @media screen and (max-width: 470px) {
            justify-content: center;
        }
    }
    
    .top-logo {
        position: relative;
        margin: 1em 1em 1em auto;
        width: clamp(10em, 12vw, 20em);
        height: auto;
        @media screen and (max-width: 470px) {
            margin: 0;
        }
    }
    
    .top-navbar-container {
        display: flex;
    }
    
    .top-navbar-list {
        display: flex;
        list-style: none;
        @include navbar-center;
        @media screen and (max-width: 470px) {
            display: none;
        }
    }
    
    .top-navbar-link {
        margin: 0 auto;
        @include link-padding;
        text-decoration: none;
        font-size: clamp(1.2em, 1.2vw, 1.8em);
        @include nav-link-color;
        &:hover {
            background-color: rgba(0, 33, 71, 0.5);
        }
    }