@import "partials/mixins";
@import "partials/variables";
@include google-font("Roboto");
@include google-font("Montserrat");
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    overflow-y: auto;
    
}

a {
    text-decoration: none;
    color: $nav-text-color;
}

main {
    text-align: center;
}

aside {
    @include overlay;
    border-right: $gray-border;
    @include box-shadow-black;
    width: 175px;
    height: 100vh;
    position: fixed;
    text-align: center;
}

.list-item {
    padding: 10px 0;
    color: $nav-text-color;
    text-shadow: $blue-outline, $text-shadow-black;
}

.list-item a {
    font-size: $medium-font;
    &:hover {
        text-decoration: underline;
        font-size: ($medium-font * 1.2);
        color: #e4bf00;
    }
}


.title-container {
    @include small-screens {
        width: 175px;
        .title {
            font-size: $large-font;
        }
    }
    @include medium-screens {
        width: 250px;
        .title {
            font-size: $xxxlarge-font;
        }
    }
    text-align: center;
    width: 100%;
    
}

.logo-container {
    background-image: $logo;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    @include padding;
}

.title {
    @include bold;
    margin-top: 0;
    white-space: nowrap;
    @include padding;
    color: $headline-color-dark;
    text-shadow: $yellow-outline, $text-shadow-black;
    width: 100vw;
    
}

.heading {
    @include padding;
    text-shadow: $text-shadow-black;
}

header h1 {
    margin-top: 0;
}

.hero {
    @include hero;
}

.slider-container {
    @include center-slider;
    background: rgb(135,135,135);
    background: linear-gradient(139deg, rgba(135,135,135,1) 0%, rgba(133,133,133,1) 5%, rgba(255,255,255,1) 50%, rgba(133,133,133,1) 95%, rgba(135,135,135,1) 100%);
    width: 50%;
    height: 50%;
    border-radius: $radius-6;
    text-align: center;
    font-size: $xlarge-font;
    border: $gray-border;
    @include box-shadow-black;
    color: $headline-color-dark;
}

.slider-1 {
    @include hidden;
}

.slider-1-img {
    width: 70%;
    height: auto;
}

.slider-2 {
    // @include hidden;
}

.slider-3 {
    @include hidden;
}

.shield {
    padding-left: 10px;
    display: inline;
    text-decoration: none;
    color: #e4bf00;
    
}
.hide-shield {
    display: none;

}

.slide-p {
    color: $slide-p-color;
    font-size: $small-font;
    padding: 10px;
}

