/* =========COLORS========== 
============================
==========================*/

$dark-blue: #002147;
$blue: #01438f;
$light-blue: #0077ff;
$dark-yellow: #a08800;
$yellow: #e4c201;
$light-yellow: #fdeb82;
$white: #ffffff;
$gray: #8d8d8d;
$black: #000000;

/* =========FONTS=========== 
============================
==========================*/

$bold: bold;