// COLORS
$background-color-main: rgb(0, 0, 63);
$background-color-header: rgb(136, 17, 17);
$background-color-footer: rgb(136, 17, 17);
$headline-color: rgb(110, 194, 196);
$nav-text-color: rgb(255, 255, 255);
// FONTS
$headline-font: "Montserrat";
$text-font: "Roboto";

// FONT SIZE

$small-font: 16px;
$medium-font: 24px;
$large-font: 30px;
$xlarge-font: 36px;

// FONT OUTLINE
$blue-outline: 2px 2px 2px rgb(0, 0, 63), -2px 2px 2px rgb(0, 0, 63), 2px -2px 2px rgb(0, 0, 63), 1px 2px 2px rgb(0, 0, 63), 2px 1px 2px rgb(0, 0, 63), -1px 2px 2px rgb(0, 0, 63), 2px -1px 2px rgb(0, 0, 63), 1px -2px 2px rgb(0, 0, 63), -2px 1px 2px rgb(0, 0, 63), -1px -2px 2px rgb(0, 0, 63), -2px -1px 2px rgb(0, 0, 63), 1px 1px 2px rgb(0, 0, 63), -1px -1px 2px rgb(0, 0, 63), -1px 1px 2px rgb(0, 0, 63), 1px -1px 2px rgb(0, 0, 63), 0px 2px 2px rgb(0, 0, 63), 2px 0px 2px rgb(0, 0, 63), -2px 0px 2px rgb(0, 0, 63), 0px -2px 2px rgb(0, 0, 63), 0px 1px 2px rgb(0, 0, 63), 1px 0px 2px rgb(0, 0, 63), 0px -1px 2px rgb(0, 0, 63), -1px 0px 2px rgb(0, 0, 63), 0px 0px 2px rgb(0, 0, 63);

$red-outline: 2px 2px 2px rgb(136, 17, 17), -2px 2px 2px rgb(136, 17, 17), 2px -2px 2px rgb(136, 17, 17), 1px 2px 2px rgb(136, 17, 17), 2px 1px 2px rgb(136, 17, 17), -1px 2px 2px rgb(136, 17, 17), 2px -1px 2px rgb(136, 17, 17), 1px -2px 2px rgb(136, 17, 17), -2px 1px 2px rgb(136, 17, 17), -1px -2px 2px rgb(136, 17, 17), -2px -1px 2px rgb(136, 17, 17), 1px 1px 2px rgb(136, 17, 17), -1px -1px 2px rgb(136, 17, 17), -1px 1px 2px rgb(136, 17, 17), 1px -1px 2px rgb(136, 17, 17), 0px 2px 2px rgb(136, 17, 17), 2px 0px 2px rgb(136, 17, 17), -2px 0px 2px rgb(136, 17, 17), 0px -2px 2px rgb(136, 17, 17), 0px 1px 2px rgb(136, 17, 17), 1px 0px 2px rgb(136, 17, 17), 0px -1px 2px rgb(136, 17, 17), -1px 0px 2px rgb(136, 17, 17), 0px 0px 2px rgb(136, 17, 17);

$yellow-outline: 2px 2px 2px rgb(196, 176, 90), -2px 2px 2px rgb(196, 176, 90), 2px -2px 2px rgb(196, 176, 90), 1px 2px 2px rgb(196, 176, 90), 2px 1px 2px rgb(196, 176, 90), -1px 2px 2px rgb(196, 176, 90), 2px -1px 2px rgb(196, 176, 90), 1px -2px 2px rgb(196, 176, 90), -2px 1px 2px rgb(196, 176, 90), -1px -2px 2px rgb(196, 176, 90), -2px -1px 2px rgb(196, 176, 90), 1px 1px 2px rgb(196, 176, 90), -1px -1px 2px rgb(196, 176, 90), -1px 1px 2px rgb(196, 176, 90), 1px -1px 2px rgb(196, 176, 90), 0px 2px 2px rgb(196, 176, 90), 2px 0px 2px rgb(196, 176, 90), -2px 0px 2px rgb(196, 176, 90), 0px -2px 2px rgb(196, 176, 90), 0px 1px 2px rgb(196, 176, 90), 1px 0px 2px rgb(196, 176, 90), 0px -1px 2px rgb(196, 176, 90), -1px 0px 2px rgb(196, 176, 90), 0px 0px 2px rgb(196, 176, 90);

$gray-outline: 2px 2px 2px rgb(165, 165, 165), -2px 2px 2px rgb(165, 165, 165), 2px -2px 2px rgb(165, 165, 165), 1px 2px 2px rgb(165, 165, 165), 2px 1px 2px rgb(165, 165, 165), -1px 2px 2px rgb(165, 165, 165), 2px -1px 2px rgb(165, 165, 165), 1px -2px 2px rgb(165, 165, 165), -2px 1px 2px rgb(165, 165, 165), -1px -2px 2px rgb(165, 165, 165), -2px -1px 2px rgb(165, 165, 165), 1px 1px 2px rgb(165, 165, 165), -1px -1px 2px rgb(165, 165, 165), -1px 1px 2px rgb(165, 165, 165), 1px -1px 2px rgb(165, 165, 165), 0px 2px 2px rgb(165, 165, 165), 2px 0px 2px rgb(165, 165, 165), -2px 0px 2px rgb(165, 165, 165), 0px -2px 2px rgb(165, 165, 165), 0px 1px 2px rgb(165, 165, 165), 1px 0px 2px rgb(165, 165, 165), 0px -1px 2px rgb(165, 165, 165), -1px 0px 2px rgb(165, 165, 165), 0px 0px 2px rgb(165, 165, 165);
$black-outline: 2px 2px 2px rgb(0, 0, 0), -2px 2px 2px rgb(0, 0, 0), 2px -2px 2px rgb(0, 0, 0), 1px 2px 2px rgb(0, 0, 0), 2px 1px 2px rgb(0, 0, 0), -1px 2px 2px rgb(0, 0, 0), 2px -1px 2px rgb(0, 0, 0), 1px -2px 2px rgb(0, 0, 0), -2px 1px 2px rgb(0, 0, 0), -1px -2px 2px rgb(0, 0, 0), -2px -1px 2px rgb(0, 0, 0), 1px 1px 2px rgb(0, 0, 0), -1px -1px 2px rgb(0, 0, 0), -1px 1px 2px rgb(0, 0, 0), 1px -1px 2px rgb(0, 0, 0), 0px 2px 2px rgb(0, 0, 0), 2px 0px 2px rgb(0, 0, 0), -2px 0px 2px rgb(0, 0, 0), 0px -2px 2px rgb(0, 0, 0), 0px 1px 2px rgb(0, 0, 0), 1px 0px 2px rgb(0, 0, 0), 0px -1px 2px rgb(0, 0, 0), -1px 0px 2px rgb(0, 0, 0), 0px 0px 2px rgb(0, 0, 0);

$white-outline: 2px 2px 2px rgb(255, 255, 255), -2px 2px 2px rgb(255, 255, 255), 2px -2px 2px rgb(255, 255, 255), 1px 2px 2px rgb(255, 255, 255), 2px 1px 2px rgb(255, 255, 255), -1px 2px 2px rgb(255, 255, 255), 2px -1px 2px rgb(255, 255, 255), 1px -2px 2px rgb(255, 255, 255), -2px 1px 2px rgb(255, 255, 255), -1px -2px 2px rgb(255, 255, 255), -2px -1px 2px rgb(255, 255, 255), 1px 1px 2px rgb(255, 255, 255), -1px -1px 2px rgb(255, 255, 255), -1px 1px 2px rgb(255, 255, 255), 1px -1px 2px rgb(255, 255, 255), 0px 2px 2px rgb(255, 255, 255), 2px 0px 2px rgb(255, 255, 255), -2px 0px 2px rgb(255, 255, 255), 0px -2px 2px rgb(255, 255, 255), 0px 1px 2px rgb(255, 255, 255), 1px 0px 2px rgb(255, 255, 255), 0px -1px 2px rgb(255, 255, 255), -1px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255);



// BORDER RADIUS
$radius-6: 6px;
$radius-8: 8px;
$radius-12: 12px;


// BORDER
$white-border: 1px solid rgb(255, 255, 255);
$gray-border: 1px solid rgb(165, 165, 165);
$black-border: 1px solid rgb(0, 0, 0);




// IMAGES
$hero: url("../../assets/images/webdev.jpg");
$logo: url("../../assets/images/dhilogo.png");


